@use './util/' as u;

.contact {
    background-color: var(--white-color);

    .container {
        display: grid;

        @include u.breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr);
            gap: u.rem(10);
        }

        @include u.breakpoint-up(large){
            grid-template-columns: repeat(2, 1fr);
            gap: u.rem(25);
        }
        .map-container {
            grid-template-columns: 100%;

            iframe{
                width: 100%;
            }
        }

        .contact {
            grid-template-columns: 100%;

            .input-group {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-block: u.rem(20);

                label{
                    font-style: normal;
                    font-weight: 400;
                    font-size: u.rem(18);
                    line-height: u.rem(28);
                    letter-spacing: -0.02em;
                    color: rgba(0, 0, 0, 0.28);
                }


                .input-field, textarea {
                    width: 80%;
                    border: u.rem(1) solid rgba(0, 0, 0, 0.28);
                    border-radius: u.rem(8);
                    padding: u.rem(10) u.rem(20);
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.5);
                    
                    &::placeholder {
                        font-size: u.rem(16);
                        color: rgba(0, 0, 0, 0.28);
                    }

                    &:is(:active, :focus-visible) {
                        outline: none;
                        border: 1px solid var(--primary-color);
                    }
                }
            }

            .btn-primary {
                border-radius: u.rem(8);
                padding: u.rem(4) u.rem(20);
                &:is(:hover, :focus-visible) {
                    border: 1px solid var(--secondary-color);
                    background-color: transparent;
                    color: var(--secondary-color);
                }
            }
        }
    }
}