@use './util/' as u;

.hero {

    .container {

        .student-page {
            align-items: center;

            .hero-title {
                text-align: center;
            }
        }

      
    }
}

.about {
    .container {
        .about-content {
            flex-direction: column-reverse;

            @include u.breakpoint-up(large){
                flex-direction: row;

                .about-text {
                    padding: u.rem(60) u.rem(56);
                    max-height: unset;

                    .btn-secondary {
                        padding: u.rem(15) u.rem(35);
                    }
                 }
             }
        }
    }
}

.documents {

    .container {

        .documents-section {

            .documents-list {
                @include u.breakpoint-up(large){
                    display: flex;
                    gap: u.rem(20);
                }
                .document-item {
                    border: 1px solid var(--light-gray);
                    padding: u.rem(20);
                    border-radius: u.rem(8);
                    margin-block-end: u.rem(10);
                    .document-menu {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .close-arrow {
                            display: none;
                        }

                        &.active {
                            border-bottom: 1px solid var(--light-gray);
                            .open-arrow {
                                display: none;
                            }

                            .close-arrow{
                                display: block;
                            }
                        }

                        .document-title {
                            color: var(--secondary-color);
                            font-size: var(--fs-10);
                        }

                        .document-action {
                            font-size: 14px;
                            img{
                                width: 10px;
                            }

                        }
                    }

                    .document-info {
                        max-height: 0;
                        overflow: hidden;
                        visibility: hidden;
                        transition: 0.5s ease-in-out;

                        &.active {
                            max-height: 148px;
                            visibility: visible;
                        }

                        p{
                            margin-top: 10px;
                            color: var(--text-gray);;
                        }
                    }
                }
            }
        }
    }
}

.call-to-action {
    padding: 0px u.rem(20) u.rem(40);

    .apply-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-secondary {
            padding: u.rem(10) u.rem(40);
        }
    }
}