@forward 'globals';
@forward 'variables';
@forward 'form';

@use './util/' as u;

body {
    background-color: var(--white-color);
    @include u.breakpoint-up(large){ 
        background-color: var(--gray-color);
    }
}
.login-section {

    @include u.breakpoint-up(medium){
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block-start: 3rem;
    }

    @include u.breakpoint-up(large){ 
        display: flex;
        margin-block-start: 3rem;
    }

    .login-field {
        
        @include u.breakpoint-up(medium){
            background-color: var(--white-color);
            border-radius: u.rem(8);
            box-shadow: var(--shadow-3);
            flex-basis: 50%;
            margin-inline: auto;
            margin-block-start: 2rem;
        }

        @include u.breakpoint-up(large){
            background-color: var(--white-color);
            border-radius: u.rem(8);
            flex-basis: 50%;
            margin-inline: auto;
            margin-block-start: 2rem;
            max-width: 30rem;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: u.rem(10);
            margin-block: 3rem;
            @include u.breakpoint-up(large){
                margin-block: 3rem;
            }

            img {
                width: 100px;
                margin-block-end: u.rem(10);
            }
            form {
                width: 100%;
                .input-group, input {
                    width: unset;
                }
    
                .btn-primary {
                    width: 100%;
                    max-width: 85%;
                    border-radius: u.rem(8);
                    margin-inline: auto;
                    padding: u.rem(10) u.rem(0);
    
                    &:is(:hover, :focus-visible) {
                        border: u.rem(2) solid var(--secondary-color);
                        background-color: transparent;
                        color: var(--secondary-color);
                    }
                }
            }

            .message-mobile {
                text-align: center;

                h2{
                    font-size: var(--fs-5);
                }
            }
            hr {
                border-top: none;
                border-right: none;
                border-left: none;
                border-image: initial;
                width: 100%;
                border-bottom: 1px solid rgb(232, 232, 232);
                padding: 0px;
            }

            .forgot-password {
                a {
                    font-size: 16px;
                    margin-block-start: 10px;
                    color: var(--text-gray);

                    &:hover {
                        text-decoration: underline;
                        color: var(--secondary-color);
                    }
                }
            }

            .create-account {
                a {
                    font-size: 16px;
                    margin-block-start: 10px;
                    color: var(--text-gray);

                    span{
                        display: inline-block;
                        color: var(--secondary-color);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
            }
            }
       }
    }
}